.stepper-wrapper {
    width: 60%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepper-bar-img {
    height: 5px;
    width: 100px;
    margin: 20px auto 0px;
}

.stepper-box {
    height: 75px;
    text-decoration: none;
    margin: 0px auto;
    font-size: 28px;
    font-weight: 700;
    color: #ADBCCB;
}

/* .active-text {
    border: 5px solid #0076BE;
    
    border-top: none;
    border-left: none;
    border-right: none;
} */


.active-text { 
    position: relative;
    z-index : 1;
    background: transparent;
    color: #0076BE;
}

.active-text:before {
    content : "";
    position: absolute;
    left    : 40%;
    bottom  : 0;
    height  : 1px;
    width   : 25%;  /* or 100px */
    border-bottom: 5px solid #0076BE;
    border-radius: 20px;
  }