.home-panel {
    width: 70%;
    display: flex;
    margin: 50px auto;
}

.panel-left {
    width: 40%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel-title {
    font-size: 42px;
    font-weight: 700;
    color: #363636;
}

.panel-text {
    font-size: 22px;
    color: #666666;
    width: 90%;
    text-align: justify;
}

.panel-btn {
    width: 230px;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0076BE;
    border-radius: 26px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.panel-right {
    width: 60%;
    height: 100%;
}

.panel-img {
    width: 100%;
}