.cover-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-panel-title {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
}

.detail-panel-core {
    width: 95%;
    background-color: rgba(0, 118, 190, 0.06);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.select-container {
    width: 90%;
    margin-top: 5px;
    background-color: #FFFFFF;
}

.datepicker {
    width: 90%;
    height: 55px;
    padding: 10px;
    margin: auto auto 0 auto;
    border: 0.5px solid #363636;
    border-radius: 4px;
    font-size: 22px;
    color: #363636;
}

#dp-ay {
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 20px;
}



.add-driver-wrapper {
    width: 95%;
    background-color: #FFFFFF;
    margin-top: 20px;
    display: flex;
    height: 90px;
    border-radius: 44px;
    border: 2px solid #0076BE;
    font-size: 28px;
    font-weight: 700;
    color: #0076BE;
    cursor: pointer;
}

.add-driver-text {
    margin: auto auto auto 2.5%;
}

.add-driver-plus {
    margin: auto 2.5% auto auto;
}

.con-quote-link {
    margin: 50px 0 50px auto;
}

.con_quote-btn {
    width: 230px;
    height: 50px;
    border-radius: 28px;
    background-color: #0076BE;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    margin: auto 0 auto auto;
    cursor: pointer;
}

.rego-check-wrap {
    display: flex;
    width: 90%;
}

.model-text-wrap {
    width: 90%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
}

.reg-check-btn {
    width: 25%;
    border: none;
    border-radius: 4px;
    background-color: #0076BE;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}

.reg-check-btn:hover {
    filter: brightness(0.5);
}

.reg-check-btn:active {
    filter: brightness(2);
}

.model-text {
    margin: auto;
    color: limegreen;
    font-weight: bolder;
}

#inactive-btn {
    background-color: rgba(150, 150, 150);
}

.required-warn {
    font-style: italic;
    color: #363636;
}

/* Main Driver CSS */

.main-driver-wrap {
    width: 95%;
    display: flex;
    background-color: rgba(0, 118, 190, 0.06);
    font-size: 28px;
    font-weight: 700;
    color: #363636;
    border-radius: 10px 10px 0px 0px;
}

#md-x {
    margin: auto 5% auto auto;
}

.main-driver {
    padding-left: 5%;
    padding-top: 20px;
    margin: 0;
}