.home-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-title {
    font-size: 42px;
    font-weight: 700;
    margin-left: 10%;
}

.review-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}