.success-wrapper {
    width: 85%;
    margin: 100px auto;
    display: flex;
}

.success-left, .success-right {
    width: 50%;
}

.success-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-img {
    width: 80%;
    max-height: 550px;
}

.success-title {
    font-size: 48px;
    font-weight: 700;
    color: #363636;
}

.success-text {
    font-size: 22px;
    font-weight: 400;
    color: #363636;
    text-align: justify;
}

.success-btn {
    width: 180px;
    height: 55px;
    border-radius: 100px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

#success-home-btn {
    color: #0076BE;
    background-color: #FFFFFF;
    border: 1px solid #0076BE;
}

#acc-btn {
    background-color: #0076BE;
    color: #FFFFFF;
    border: none;
    margin-left: 20px;
}