.detail-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-panel-title {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
}

.detail-panel-core {
    width: 95%;
    background-color: rgba(0, 118, 190, 0.06);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.ind_question-panel {
    width: 45%;
    margin: 10px;
}

.ind_question-title {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    color: #363636;
}

.ind_question-caption {
    font-size: 22px;
    color: #363636;
    font-weight: 400;
}

.ind_question-input-buyQ {
    width: 90%;
    height: 55px;
    padding: 10px;
    margin: 20px auto 0 auto;
    border: 0.5px solid #363636;
    border-radius: 4px;
    font-size: 22px;
    color: #9A9B9C;
}

.direct-debit-text {
    padding-top: 20px;
    padding-left: 2%;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    background-color: rgba(0, 118, 190, 0.06);
    width: 95%;
    color: #363636;
    border-radius: 10px 10px 0px 0px;
}

.buyQ-review-cap {
    padding-top: 20px;
    padding-left: 2%;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    background-color: rgba(0, 118, 190, 0.06);
    width: 95%;
    color: #363636;
    border-radius: 10px 10px 0px 0px;
}

.bottom-checkbox-wrap {
    margin: 0px auto 0px 0;
    display: flex;
    align-items: center;
}

.check-text {
    margin-left: 10px;
    font-size: 16px;
    color: #666666;
    font-weight: 400;
}

.tandc {
    text-decoration: underline;
}