.yourQ-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.yourQ-title {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
}

.quote-detail-wrapper {
    width: 85%;
    padding: 20px;
    height: 80px;
    border-radius: 10px;
    background-color: rgba(0, 118, 190, 0.06);
    margin: auto;
    display: flex;
    align-items: center;
}

.quote-num-text {
    margin: auto auto auto 0;
    font-size: 28px;
    font-weight: 700;
}

.email-quote-btn {
    margin: auto 0 auto auto;
    width: 180px;
    height: 50px;
    border-radius: 26px;
    border: 1px solid #0076BE;
    background-color: transparent;
    color: #0076BE;
    font-size: 22px;
    font-weight: 700;
}

.quote-choose-wrap {
    width: 50%;
    margin: 20px 0 20px auto;
    display: flex;
}

.quote-choose-btn {
    width: 180px;
    height: 50px;
    border-radius: 26px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: auto 20px;
    background-color: #E5E5E5;
    color: #A8A8A8;
    padding: 10px;
}

.quote-choose-btn-active {
    width: 180px;
    height: 50px;
    border-radius: 26px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: auto 20px;
    background-color: #0076BE;
    color: #FFFFFF;
}

/* Quote Panels CSS */

.quote-select-wrap {
    width: 100%;
    display: flex;
    color: #363636;
}

.quote-select-panel {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 118, 190, 0.06);
    border-radius: 10px;
    width: 30%;
    margin: 0px auto auto auto;
    height: 700px;
}

#rec_panel {
    border-radius: 10px;
    border: 2px solid #0076BE;
    height: fit-content;
}

.quote-rec-bar {
    width: 100%;
    height: 50px;
    background-color: #0076BE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.quote-rec-text {
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.quote-panel-title {
    font-size: 28px;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 70px;
}

.quote-panel-title-rec {
    font-size: 28px;
    font-weight: 700;
    margin-left: 5%;
}

.quote-panel-price {
    font-size: 48px;
    font-weight: 700;
    margin-left: 5%;
}

.annually-text {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.benefit-wrap {
    display: flex;
    flex-direction: column;
}

.benefit-box {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.quote-panel-tick {
    width: 40px;
    height: 40px;
}

.benefit-text {
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
}

.quote-panel-btn-wrap {
    width: 80%;
    border: 1px solid #ADBCCB;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 20px auto;
    display: flex;
}

.learn-btn {
    width: 180px;
    height: 50px;
    margin: 20px auto 0px auto;
    border: 1px solid #0076BE;
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    border-radius: 26px;
    color: #0076BE;
    cursor: pointer;
}

/* Extra Panel CSS */

.extra-panel {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.extra-item {
    width: 100%;
    margin: 20px auto;
}

.extra-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.extra-sub-box {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.temp-radio {
    margin-right: 10px;
}

.extra-text {
    margin: 0;
}

.agreed-value-input {
    width: 90%;
    margin: 10px auto;
    height: 40px;
    padding: 10px;
    border: 0.5px solid #363636;
    background-color: #FFFFFF;
    border-radius: 4px;;
}

.extra-tc {
    font-size: 22px;
    font-weight: 700;
    color: #363636;
    text-decoration: underline;
}

.buy-now-btn {
    background-color: #0076BE;
    width: 230px;
    height: 50px;
    border-radius: 26px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    border: none;
    margin: 10px auto 20px;
    cursor: pointer;
}

/* Bottom Navigation Buttons CSS */

.bottom-nav-btns {
    width: 100%;
    margin: 50px auto;
    display: flex;
}

.bottom-back-link {
    margin: auto auto auto 0;
}

.bottom-back-btn {
    cursor: pointer;
    width: 230px;
    height: 55px;
    border-radius: 26px;
    border: 1px solid #0076BE;
    background-color: #FFFFFF;
    color: #0076BE;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.bottom-forward-link {
    margin: auto 0 auto auto;
}

.bottom-forward-btn {
    width: 230px;
    height: 55px;
    border-radius: 26px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    background-color: #0076BE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* Login Modal Container */

.acc-container {
    width: 50%;
    max-width: 1200px;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin: 250px auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modal-title-main {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
    text-align: center;
}

.modal-input-container {
    width: 80%;
    margin: auto;
    display: flex;
}

.guest-wrapper, .login-wrapper {
    width: 50%;
}

.guest-wrapper {
    border: 1px dashed #ADBCCB;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 25px;
}

.login-wrapper {
    padding-left: 25px;
}

.modal-title {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
    margin: 10px 0px;
}

.modal-title-em {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
    margin: 50px auto 10px 0px;
}

.modal-caption {
    color: #666666;
    font-size: 16px;
}

.modal-text-input {
    width: 100%;
    margin: 10px auto auto 0px;
    height: 55px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #363636;
    font-size: 22px;
}

.check-text-pair {
    display: flex;
    align-items: baseline;
}

.modal-check-text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.temp {
    display: flex;
    width: 100%;
    margin: 45px auto 0px auto;
}

.temp-guest {
    display: flex;
    width: 100%;
    margin: 170px auto 0px auto;
}

.cont-acc-link {
    margin: auto;
}

.cont-acc-btn {
    width: 250px;
    height: 50px;
    background-color: #0076BE;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    border-radius: 26px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px auto;
}

.ps-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px auto 0px;
}

.fg-pass {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: #0076BE;
    margin: auto 0 15px auto;
}